
.home {

    .header {
        height: 100vh;
        position: relative;
    }

    .rellax {
        position: relative;

        .rellax-layer {
            position: absolute;
            bottom: 100%;
            width: 100%;
            z-index: -1;
        }
    }

    .quote {
        .quote-sentence {
            margin-bottom: .5rem;
            position: relative;
            font-family: $font-family-sans-serif;
            font-style: italic;

            &::before {
                content: "“";
                font-size: 2rem;
                position: absolute;
                left: -1rem;
            }

            &::after {
                content: "”";
                font-size: 2rem;
                margin-right: 1rem;
            }
        }

        .quote-author {
            position: relative;
            font-size: 1.25rem;
            margin-left: 1.5rem;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -1.5rem;
                height: 1px;
                width: 1rem;

                background-color: $light;
            }
        }
    }

    .blog{
        .blog-img {
            height: 250px;
            object-fit: cover;
            border-radius: $border-radius-left;
        }

        .shadow-left {
            -webkit-box-shadow: -4px 4px 10px -4px $dark;
            -moz-box-shadow: -4px 4px 10px -4px$dark;
            box-shadow: -4px 4px 10px -4px $dark;
        }

        .shadow-right {
            -webkit-box-shadow: 4px 4px 10px -4px $dark;
            -moz-box-shadow: 4px 4px 10px -4px$dark;
            box-shadow: 4px 4px 10px -4px $dark;
        }
    }

}
