.hero {
  position: relative;

  .parallax-el {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .parallax-logo {
    position: absolute;
    width: 50%;
    //height: 100%;
    top: 18%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity: .6;
    // mix-blend-mode: overlay;
  }
}


.home {
  img {
    width: 100%;
  }

  .blog{

    .blog-img-top {
      height: 200px;
      object-fit: cover;
      border-radius: $border-radius-left;
    }
  }

}
