.how-it-works {

    .topo-dark {
        background-size: 25%
    }

    .loader {
        height: 90vh;
    }

    showdown {
        img {
            max-width: 100%;

            @include media-breakpoint-up(sm) {
                width: 70%;
                margin: auto 15%;
            }
            @include media-breakpoint-up(md) {
                width: 40%;
                margin: auto 5% auto 0;
            }
            @include media-breakpoint-up(lg) {
                width: 20%;
                margin: auto 5% auto 0;
            }
        }

        strong {
            display: block;
        }

        ul {
            list-style: circle;
            margin-left: 1em;
        }

        h3 {
            margin-top: 3rem;
        }
    }
}
