.how-it-works {

    .topo-dark {
        background-size: 25%
    }

    .loader {
        height: 90vh;
    }

    showdown {
        img {
            max-width: 40%;
            margin: 2em 2em 0 0;
        }

        strong {
            display: block;
        }

        ul {
            list-style: circle;
            margin-left: 1em;
        }

        h3 {
            margin-top: 3rem;
        }
    }
}
