.walks {
  .walk {
    border-radius: $border-radius-left;
    width: 100%;
    height: 200px;
    position: relative;

    .walk-img {
      width: 100%;
      height: 100%;
      padding: 0;
      position: relative;

      img {
        border-radius: $border-radius-left;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // transform: skewY(-3deg) ;
      }

      &::after {
        border-radius: $border-radius-left;
        content: "";

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        // transform: skewY(-3deg);
        opacity: .7;
        background-image: linear-gradient(to top, #78683a, #686637, #596337, #4a5f39, #3b5b3b);
        backdrop-filter: blur(.5px);
        -webkit-backdrop-filter: blur(.5px);
      }
    }

    .walk-body {
      position: absolute;
      top: 0;
      left: 0;
      // width: 100%;
      height: 100%;
    }
  }

  .skew {
    transform: skewY(-2deg);
  }

  .filter {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: $gray-200;
      height: 6px;
      border-radius: 6px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: $primary;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 16px;
      height: 16px;
      top: -5px;
      background-color: $primary;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  }
}

