.walks {

  .walk {
    border-radius: $border-radius-left;
    width: 100%;
    height: 200px;
    position: relative;

    .walk-img {
      width: 100%;
      height: 100%;
      padding: 0;
      position: relative;

      img {
        border-radius: $border-radius-left;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // transform: skewY(-2deg) ;
      }

      &::after {
        border-radius: $border-radius-left;
        content: "";

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        // transform: skewY(-2deg);
        opacity: .4;
        background-image: linear-gradient(to top, #002543, #133554, #244566, #345679, #44688c, #496b8e, #4d6f8f, #527291, #4c6782, #475d73, #415264, #3b4856);
        backdrop-filter: blur(.5px);
        -webkit-backdrop-filter: blur(.5px);
      }
    }

    .walk-body {
      position: absolute;
      top: 0;
      left: 0;
      // width: 100%;
      height: 100%;
    }
  }


  .filter {
    border-radius: $border-radius-left;
    border: 1px solid $gray-400;

    .custom-slider .ng5-slider .ng5-slider-bar {
      background: $gray-200;
      height: 6px;
      border-radius: 6px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: $primary;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 16px;
      height: 16px;
      top: -5px;
      background-color: $primary;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  }
}

