<div class="walks mt-5">
  <div class="container">
    <h2><span class="font-weight-bold font-italic">Ontdek</span> een wandeling in je buurt</h2>

    <div class="row mt-5">
      <aside class="col-4">
        <h4 class="text-uppercase font-weight-bold"><i class="fas fa-sliders-h"></i><span class="ml-2">Filter</span>
        </h4>
        <div class="filter border rounded">
          filter
        </div>
      </aside>
      <div class="main col border">
        <ul>
          <li *ngFor="let item of walks | async">
            <a href="wandelingen/{{item.slug}}" class="btn btn-link item">
              <div class="item-img">
                <img src="{{item.thumbnail.url}}" alt="{{item.slug}}">
              </div>
              <div class="item-body px-5 py-4 text-light text-left d-flex flex-column justify-content-between">
                <h4>{{ item.title }}</h4>

                <h5 class="specs">
                  <i class="fas fa-baby-carriage pr-3" *ngIf="item.kids_friendly"></i>
                  <i class="fas fa-wheelchair  pr-3" *ngIf="item.wheelchair_friendly"></i>
                </h5>

              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
