<div class="home">
  <div class="header">
    <img src="/assets/img/hero.jpg" alt="river in the forest" class="header-img fixed">
    <div class="container h-50">
      <img src="/assets/svg/logo-light.svg" alt="Get Lost logo" class="logo parallax-object" appParallax [ratio]="-0.6">
    </div>
  </div>

  <div class="topo-light w-100 content pb-5">
    <div class="roll-over">
      <img src="/assets/img/layer-1.png" alt="Mother and son" class="roll-over-img">
    </div>

    <div class="overlay topo-dark text-light py-4" *ngIf="content?.quote">
      <div class="container">
        <div class="quote row">
          <div class="col-10">
            <h3 class="quote-sentence">{{ content?.quote }}</h3>
            <p class="quote-author font-italic">{{ content?.qoute_author }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container pb-5" *ngIf="content?.blog">
      <div class="introduction mt-4">
        <showdown [value]="content?.introduction" class="w-100"></showdown>
      </div>
      <div class="blog my-5" *ngFor="let item of content?.blog; odd as isOdd; even as isEven">
        <div class="row" *ngIf="isEven">
          <div class="col-lg-5 col-md-6 col-12 mb-3 mb-md-0">
            <img src="{{item.image.url}}" alt="{{item.title}}" class="blog-img shadow-right">
          </div>
          <div class="col d-flex flex-column justify-content-start">
            <h4 class="blog-title font-italic">{{ item.title }}</h4>
            <p class="blog-text">{{ item.description }}</p>

            <a class="btn btn-primary align-self-sm-center" href="{{ item.cta.path}}">{{ item.cta.text }}</a>
          </div>
        </div>

        <div class="row" *ngIf="isOdd">
          <div class="col d-flex flex-column justify-content-start order-md-1 order-2">
            <h4 class="blog-title font-italic">{{ item.title }}</h4>
            <p class="blog-text">{{ item.description }}</p>
            <a class="btn btn-primary align-self-sm-center" href="{{ item.cta.path}}">{{ item.cta.text }}</a>
          </div>
          <div class="col-lg-5 col-md-6 col-12 order-md-2 order-1 mb-3 mb-md-0">
            <img src="{{item.image.url}}" alt="{{item.title}}" class="blog-img shadow-left">
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading *ngIf="!content?.id">
    <app-loader></app-loader>
  </ng-template>

</div>
