<div class="home">
  <div class="header mb-4">
    <img src="/assets/img/hero.jpg" alt="">
    <div class="overlay text-center">
      <h2>Er wacht een nieuwe wereld om de hoek.</h2>
      <p>Mss Quote!?</p>
      <button class="btn btn-primary">Ontdek het hier</button>
    </div>
  </div>

  <div class="container">
    <h3 class="text-center">Loop eens verloren in je eigen omgeving</h3>

    <div class="blog text-center mb-4">
      <img src="/assets/img/annie-spratt-GIK1tsETnXI-unsplash.jpg" alt="kids in the forest" class="blog-img-top rounded-custom-left">
      <div class="blog-body">
        <h5 class="blog-title">Loop eens verloren in je eigen omgeving</h5>
        <p class="blog-text">De natuur intrekken is leuk, zeker als je weet waar je moet kijken. Er is zoveel moois rondom ons waar je anders gewoon
        voorbij loopt. We nemen je mee op ontdekkingstocht zoals men dit vroeger ook deed. Met enkel een kompas dat je in de
        richting van het volgende punt wijst, en zegt hoever het nog is. Bij elk punt geven we een woordje uitleg, of kan je
        genieten van een activiteit. Waarna je weer verder kan tot het volgende punt.</p>
        <a href="#" class="btn btn-primary btn-block">overzicht</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="hero w-100">
  <img src="/assets/img/hero.jpg" alt="" class="hero-img w-100">
  <img src="/assets/img/logo-dark.png" alt="" class="rellax parallax-logo" data-rellax-speed="-3">
  <img src="/assets/img/upper.png" alt="" class="rellax parallax-el" data-rellax-speed="1">
</div> -->


<!-- <div class="loader bg-dark">
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
</div> -->
