.navbar-comp {

    .hamburger {
        position: relative;
        span {
            display: block;
            width: 40px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background: $light;
            border-radius: 3px;
            z-index: 1;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;

            &:nth-child(3) {
                margin-bottom: 0;
            }

            &.circle {
                border:none;
                z-index: -1;
                background-color: $primary;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                width: 60px;
                height: 60px;

                -webkit-box-shadow: 0px 0px 5px 1px rgba($color: $primary, $alpha: .6);
                -moz-box-shadow: 0px 0px 5px 1px rgba($color: $primary, $alpha: .6);
                box-shadow: 0px 0px 5px 1px rgba($color: $primary, $alpha: .6);
            }
        }

        &.open {
            span {
                &:first-child {
                    transform: rotate(45deg) translate(10px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:nth-child(3) {
                    transform:rotate(-45deg) translate(10px);
                }

                &.circle {
                    transform: translate(-35%, -50%) scale(0.2);
                    opacity: 0;
                }

            }
        }

    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        padding: 75px 50px 30px 50px;
        // border-radius: 50%;
        list-style-type: none;
        // transition: border-radius .5s;
        // transition-delay: .3s;

        animation-name: slide-out;
        animation-duration: 1s;

        a {
            text-decoration: none;
            color: $light;

            transition: color 0.3s ease;
        }
        li {
            padding: 10px 0;
            font-size: 22px;
        }

        &.show {
            animation-name: slide-in;
            animation-duration: .8s;
            animation-timing-function: ease;
            border-radius: 0 0 0 100px;
        }


        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url('/assets/svg/topo-dark.svg');
            background-repeat: repeat;
            background-color: $dark;
            // opacity: .9;
            border-radius: inherit;
        }

    }

    @keyframes slide-in {
      0%{
        -webkit-transform: translateX(150px) translateY(-150px) rotate(20deg);
        transform: translateX(150px) translateY(-150px) rotate(20deg);

      }
      30%{
          transform: rotate(0);
          border-radius: 50%;
      }
      100%{
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0) ;
      }
    }

    @keyframes slide-out {
      0%{
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
      }
      100%{
        -webkit-transform: translateX(500px) translateY(-500px);
        transform: translateX(500px) translateY(-500px);

      }
    }
}

