<div class="navigation">
  <div class="container">

    <div class="text-center compas">
      <div class="elipse"></div>
      <img src="/assets/svg/arrow.svg" alt="arrow" class="direction"
        [ngStyle]="{'transform': 'rotate(' + destinationAngle + 'deg)'}">
    </div>

    <div class="data">
      <div class="distance">
        <h1>{{ distance }}m</h1>
        <h2 class="text-uppercase">tot checkpoint</h2>
        <p class="text-center text-uppercase mb-1 small">{{ walkTitle }}</p>
      </div>

      <progressbar [max]="checkpoints.length" [value]="currentCheckpoint">
        <span class="text-nowrap">{{currentCheckpoint}} / {{ checkpoints.length }}</span>
      </progressbar>
    </div>
  </div>

  <div class="debug small p-1">
    <p>Debugging</p>
    <p>current location:</p>
    <p>{{ currentLocation?.latitude }}, {{ currentLocation?.longitude }}</p>
    <p>destination:</p>
    <p>{{ destination.coordinate?.latitude }}, {{ destination.coordinate?.longitude }}</p>
    <p>location accuracy:</p>
    <p>{{ distanceAccuracy }}m</p>
    <p>angle accuracy:</p>
    <p>{{ angleAccuracy }}°</p>
    <p>{{ error }}</p>
    <button class="btn btn-primary" (click)="arrivedAtCheckpoint()">at Checkpoint</button>
  </div>
</div>
