html, body, .wrapper {
  height: 100%;
}

html, body, .wrapper, .topo-light, .modal-content {
  background-image: url('/assets/svg/topo.svg');
  background-repeat: repeat;
}

.topo-dark, .modal-backdrop {
  background-image: url('/assets/svg/topo-dark.svg');
  background-repeat: repeat;
  background-color: $dark;
  -webkit-box-shadow: -4px 4px 10px -4px $dark;
  -moz-box-shadow: -4px 4px 10px -4px $dark;
  box-shadow: -4px 4px 10px -4px $dark;
}
.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

  .walks {
    margin-top: 5em;
  }
}

h4 {
  white-space: normal;
}

ul {
  list-style: none;
  padding-left: 0;
}

.logo {
    width: 150px;
  }

// Buttons

.btn {
  text-transform: uppercase;
  font-weight: bold;
  white-space: normal;
}

.btn-link:hover {
    text-decoration: none;
}

showdown {
  img {
    width: 100%;
    margin: 1em 0;
    border-radius: $border-radius-left;
  }

  h1, h2, h3, h4 {
      font-style: italic;
  }
}

.modal-content {
    border-radius: $border-radius-left;
    border: none;
}






