html, body, .wrapper {
  height: 100%;
  background-image: url('/assets/svg/topo.svg');
  background-repeat: repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

  .walks {
    margin-top: 8em;
  }
}

h3 {
  font-family: $font-family-sans-serif;
}

h4 {
  white-space: normal;
}

ul {
  list-style: none;
  padding-left: 0;
}


// Buttons

.btn {
  text-transform: uppercase;
  font-weight: bold;
}

// .btn-custom-left {
//   border-radius: 10px 10px 10px 50px;
// }

// .btn-custom-right {
//   border-radius: 10px 10px 50px 10px;
// }

