$img-gradient: linear-gradient(to top, #002543, #133554, #244566, #345679, #44688c, #496b8e, #4d6f8f, #527291, #4c6782, #475d73, #415264, #3b4856);

// Cards
$border-radius-left : 14px 43px 14px 43px;
$border-radius-left-bottom-0: 8px 50px 0 0;

$border-radius-right : 50px 8px 50px 8px;
$border-radius-right-bottom-0: 50px 8px 0 0;


