<div class="footer rellax" data-rellax-speed="-1">
  <img src="/assets/img/forest.png" alt="" class="w-100">
  <footer class="bg-dark text-primary p-0" *ngIf="hideFooterOn('/onderweg')">
    <div class="container text-center pt-4">
      <img src="/assets/svg/logo-light.svg" alt="Get Lost logo" class="logo d-block mx-auto mb-4">

      <div class="row justify-content-center py-4">
        <div class="col-md-1 col-2">
          <!-- Sharingbutton Facebook -->
          <a class="btn btn-link"
            href="https://facebook.com/sharer/sharer.php?u={{ path }}" target="_blank"
            rel="noopener" aria-label="">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="col-md-1 col-2">
          <!-- Sharingbutton Twitter -->
          <a class="btn btn-link"
            href="https://twitter.com/intent/tweet/?text=Ontdek%20verborgen%20parels%20in%20je%20buurt.&amp;url={{ path }}"
            target="_blank" rel="noopener" aria-label="">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-1 col-2">
          <!-- Sharingbutton E-Mail -->
          <a class="btn btn-link"
            href="mailto:?subject=Ontdek%20verborgen%20parels%20in%20je%20buurt.&amp;body={{ path }}"
            target="_self" rel="noopener" aria-label="">
            <i class="far fa-envelope"></i>
          </a>
        </div>

        <div class="col-md-1 col-2">
          <a class="btn btn-link" href="https://github.com/jasperVandevloet" target="_blank"
            rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </div>
      </div>

      <div class="personal-info py-4">
        <a class="btn btn-link" href="mailto:jaspervandevloet@gmail.com">Jasper Van de Vloet</a>
        <a class="btn btn-link" href="https://goo.gl/maps/B88SJV3NptL5FXM16" target="_blank" rel="noopener noreferrer">48.006859, -4.591877</a>
      </div>

    </div>
  </footer>
</div>
